<h1><%= flash[:title] %></h1>

<div class="data_filters">
  <table id="show_documentos">
    <thead>
      <tr>
        <th> Producto</th>
        <th>Tipo</th>
        <th>Fecha vencimiento</th>
      </tr>
    </thead>
    <tbody>
      <% @documentos.each do |d|%>
        <tr>
          <td>
            <%= d.producto.nombre%>
          </td>
          <td>
            <%= link_to d.TipoDocumento.descripcion, d.pdf.url, :target => "_blank" %>
          </td>
          <td>
            <%= d.fecha_vencimiento %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
