<h5><%=@requisito.TipoRequisito.name %></h5>
<table class="table">
  <tr>
    <td>
      <b>Solicitud:</b> 
      <%= @requisito.tramite.TipoDocumento.descripcion %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Producto:</b> 
      <% if @requisito.tramite.producto %>
        <%= @requisito.tramite.producto.nombre%>
      <% else %>
        Nuevo producto
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Estado:</b>
      <% case @requisito.estado 
      when 0 %>
        <span class="label">no recibido</span>
      <% when 3%>
        <span class="label label-success">aceptado</span>
      <% when 4%>
        <span class="label label-danger">rechazado</span>
      <% end %>
    </td>
  </tr>
  <% if not @requisito.observacion.nil? and @requisito.estado != 3%>
    <tr>
      <td>
        <b>Observación:</b>
        <div id="obs_req"><%= @requisito.observacion %></div>
      </td>
    </tr>
  <% end %>
</table>
