<p>Por favor, indique su nombre de usuario: </p> 

<%= semantic_form_for @usuario, :remote => true, :url => recover_password_usuarios_path do |f| %>
  <ul>
    <table class="table_forms" style="border: none;">
      <tbody>
        <tr>
          <td>
            <%= f.input :login, :label => "Usuario"%>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.action :submit, :label => 'Enviar' %>
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
<% end %>

