<div class="span1"></div>
<div class="span10">
<h3>Usuarios</h3>
<table id="tabla_list_usuario" class="table table-striped">
  <thead>
      <th>Login</th>
      <th>Compania</th>
      <th>Nombre</th>
      <th>Permisos</th>
      <% if current_usuario.admin == 2 %>
        <th></th>
      <% end %>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= link_to usuario.login, usuario, :title => usuario.login %></td>
        <%= content_tag(:td, usuario.compania, :title => usuario.compania) %>
        <% if usuario.nombre != nil && usuario.apellido != nil %>
          <%= content_tag(:td, (usuario.nombre+" "+usuario.apellido), :title => (usuario.nombre+" "+usuario.apellido)) %>
        <% end %>
        <td>
          <% case usuario.admin
               when 0 %>
                 Cliente
          <%   when 1 %>
                 Admin
          <%   when 2 %>
                 S-Admin
          <%   else   %>
                 Contactar servicio técnico
          <% end %>
        </td>
        <% if usuario.admin == 1 and current_usuario.admin == 2%>
          <td><%= link_to 'Asignar clientes', new_asignar_cliente_usuarios_path(usuario.id) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="span1"></div>

