<center>
  <table id="tablas_inicio" >
    <tr>
      <% if current_usuario.admin == 0 %>
        <td class="titulos_inicio">Mis productos</td>
        <td class="titulos_inicio">Mis Solicitudes</td>
      <% else %>
        <td class="titulos_inicio">Registro de Actividades</td>
        <td class="titulos_inicio">Solicitudes Pendientes</td>
      <% end %>
    </tr>
    <tr>
      <td>
        <table id="mis_productos">
          <thead>
            <% if current_usuario.admin == 0 %>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Registro</th>
            <% else %>
              <th>Usuario</th>
              <th>Actividad</th>
              <th>Fecha</th>
            <% end %>
          </thead>
          <tbody>
            <!-- NOTE: for de los porductos/registros -->
            <tr>
              <td>Producto 1</td>
              <td>Marca 1</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 2</td>
              <td>Marca 2</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 3</td>
              <td>Marca 3</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 3 4</td>
              <td>Marca 4</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 4</td>
              <td>Marca 3</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 5</td>
              <td>Marca 5</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 5</td>
              <td>Marca 5</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 5</td>
              <td>Marca 5</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 5</td>
              <td>Marca 5</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <td>Producto 5</td>
              <td>Marca 5</td>
              <td>XXXXXX</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table id="mis_solicitudes">
          <thead>
              <th>Nombre</th>
              <th>Producto</th>
            <% if current_usuario.admin == 1 || current_usuario.admin == 2 %>
              <th>Usuario</th>
            <% end %>
              <th class="estado">Edo</th>
          </thead>
          <tbody>
            <!-- NOTE: for de las solicitudes -->
            <tr>
              <td>Solicitud 1</td>
              <td>Producto 1</td>
              <% if current_usuario.admin > 0 %>
                <td>Usuario X</td>
              <% end %>
              <td class="estado alerta" title="Por enviar" style="background: white">a</td>
            </tr>
            <tr>
              <td>Solicitud 2</td>
              <td>Producto 2</td>
              <% if current_usuario.admin > 0 %>
                <td>Usuario X</td>
              <% end %>
              <td class="estado alerta" title="Rechazado" style="background: red">e</td>
            </tr>
            <tr>
              <td>Solicitud 3</td>
              <td>Producto 3</td>
              <% if current_usuario.admin > 0 %>
                <td>Usuario X</td>
              <% end %>
              <td class="estado alerta" title="Retrasado" style="background: yellow">i</td>
            </tr>
            <tr>
              <td>Solicitud 4</td>
              <td>Producto 4</td>
              <% if current_usuario.admin > 0 %>
                <td>Usuario X</td>
              <% end %>
              <td class="estado alerta" title="Por enviar" style="background: white">a</td>
            </tr>
            <tr>
              <td>Solicitud 5</td>
              <td>Producto 5</td>
              <% if current_usuario.admin > 0 %>
                <td>Usuario X</td>
              <% end %>
              <td class="estado alerta" title="Aceptado" style="background: blue">o</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</center>
