<h2>Solicitud de recuperacion de contrase침a</h2>
<p>El usuario <%=@usuario.login %> ha solicitado recuperaci칩n de contrase침a</p>
<p>Si desea contactarlo para confirmar esta peticion, sus datos de contacto son:</p>
<ul>
  <li>Telefono: <%=@usuario.telefono%></li>
  <li>Correo  : <%=@usuario.email%></li>
</ul>
<p>Para confirmar el cambio de contrase침a, haga click en este <%= link_to 'enlace', send_password_usuarios_url(:id => @usuario) %></p>
