/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require formtastic-bootstrap
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
*/

#wrapper {
  background-color: white;
  -webkit-box-shadow: 0 0 30px;
  box-shadow: 0 0 30px;
  width: 1170px;
  margin: auto;
}

.new-button {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

div.tableContainer {
  clear:both;
  height: 300px;
  overflow: auto;
}

html>body div.tableContainer {
  overflow: auto;
}

.add-stuff {
  margin-top: 30px;
}

