// Place all the styles related to the Inicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border_color  : #555;
$list_even     : #5294AA;
$list_hover    : #74B6CC;

//VINOTINTO
$border_color  : #555;
$list_even     : rgba(116,14,0,0.7);
$list_hover    : rgba(116,14,0,0.5);

p {
    text-align: justify;
    margin-left: 20px;
    width: 90%;
}



.dataTables_filter {
    float: right;
    input[type="text"] {
        border-radius: 5px;
        width: 360px;
    }
}

.divider {
  border-right: 1px solid gray;
  padding-right: 30px;
}
