// Place all the styles related to the Productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$list_even     : #5294AA;
$list_hover    : #74B6CC;
$list_selected : #396877; 

#food, #wine {
  height: 20px;
}

.conf_list{
  ul{
    li{
      margin-top:5px;
    }
  }
}

.prod_title_icon {
  height: 40px;
  float:right;
  margin-top: -50px;
}

.borrar_doc{
  height: 20px;
  float: right;
}

#arrow_proc, #arrow_tipo{
  height:15px;
  float: right;
}

.filtro_wrapper{
  float:left;
  height:300px;
  width:120px;
  border-right: 2px solid $list_selected;
}
#Tipo_prod, #Procedencia_prod{
  float:left;
  width: 120px;
  table-layout:fixed;
  th{
    border-bottom: 2px solid $list_selected;
  }
  tr{
    height: 26px !important;
    width: 302px;
    cursor:pointer;
  }
  tbody{
    tr :hover{
      background-color: $list_even;
    }
  }
  .fill_row{
  }
}

#productos_wrapper{
  border-left: 2px solid $list_selected;
  tbody{
    tr{
      padding:0px;
      margin:0px;
    }
    td{
      text-align:center;
    }
  }
}

#productos_wrapper, #marcas_wrapper {
  float:left;
  width: 250px;
  height:300px;
  th{
    border-bottom: 2px solid $list_selected;
  }
  tr{
    height: 26px;
    width: 302px;
    cursor:pointer;
  }

  tbody{
    tr :hover, tr td.highlighted{
      background-color:$list_even;
    }
  }

  .rs_producto{
    font-size: 10px;
  }

  /*Seleccion de filtro de marca*/
  .row_selected td{
    border: 3px solid $list_selected;
  }
}

#productos_filter, #marcas_filter{
  margin-top: -38px;
  input[type="text"]{
  background: url(find.png) no-repeat scroll 3px 3px;
  padding-left:30px;
  width: 250px;
  height: 20px;
  }
}
