// Place all the styles related to the Productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$list_even     : #5294AA;
$list_hover    : #74B6CC;
$list_selected : #396877; 

// VINOTINTO
$list_even        : rgba(116,14,0,0.7);
$list_hover       : rgba(116,14,0,0.5);
$list_selected    : rgba(116,14,0,0.8);


#food, #wine {
  height: 20px;
}

.conf_list{
  overflow-x: hidden;
  ul{
    li{
      margin-top:5px;
    }
  }
}

.prod_title_icon {
  height: 40px;
  float:right;
  margin-top: -50px;
}

.borrar_doc{
  height: 20px;
  float: right;
}

#arrow_proc, #arrow_tipo{
  height:15px;
  float: right;
}

.filtro_wrapper{
  float:left;
  height:300px;
  width:120px;
  border-right: 2px solid $list_selected;
}
#productos_wrapper{
  tbody{
   td{
      text-align:center;
    }
  }
}



#productos_filter, #marcas_filter{
  input[type="text"]{
  background: url(find.png) no-repeat scroll 3px 3px;
  width: 225px;
  }
}

.extra-table {
  max-height: 300px;
  overflow: auto;
}
