// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background_color : #133a6b;

#tabla_list_usuario_wrapper {
  thead {
    th{
    }
  }
  tr.even {
    td{
    background-color: #5294aa !important;
    }
  }
  tr.odd {
    td{
    background-color: #FFF !important;
    }
  }

}

.title_show {
  width: 300px;
  text-align:left;
  padding-left: 20px;
  margin-top: 50px;
  margin-left: 20px;
  border-bottom: 1px solid $background_color;  
}

.cos_icon {
  margin-left: 10px;
  width: 20px;
}


.tabla_show {

  border-spacing: 0;
  margin-top: 10px;
  margin-left:50px;
  width: 400px;

  input[type="submit"]{
    padding: 10px;
    margin-left: 0;
    margin-bottom: 5px;
  }
    tbody {
    tr {

      td {
        /*Puntos suspensivos*/
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        min-width: 90px;
        max-width: 90px;
        height: 30px;

      }
    }
  }
}

.conf_list {
}

.conf_list ul { 
  width: 300px;
  margin-left: 20px;
  list-style:none; 
  padding:10px 0; 
}

.conf_list ul li { 
  padding:0 10px; 
}

.conf_list ul li a { 
  text-decoration:none; color:#eee; 
}

.conf_list ul li a:hover { 
  text-decoration:underline; 
}

.customize {
  margin-top: 30px;
}
